@model mvc.ViewModels.CreateInvestigationViewModel



    <form asp-action="Create" method="post" role="form" enctype="multipart/form-data" class="light-form-lg">
        <h2>Create Investigation</h2><hr />
        <div class="form-group">
            <label asp-for="DateOfAction">Date of Action</label>
           
                <input asp-for="DateOfAction" class="form-control" />
                <span asp-validation-for="DateOfAction" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ReportStatus" class="col-md-3">Status of Report</label>

            <div class="form-group">
                <select class="form-control" id="ReportStatus" asp-for="ReportStatus">
                    <option value="In Investigation">In Investigation</option>
                    <option value="Closed">Closed</option>
                    <option value="No Action Required">No Action Required</option>
                </select>
            </div>

        </div>
        <div class="form-group">
            <label asp-for="InvDescription" class="col-md-3">Investigaton Description</label>
           
                <textarea asp-for="InvDescription" class="form-control"></textarea>
                <span asp-validation-for="InvDescription" class="text-danger"></span>
         
        </div>
        <div class="button-row">
            <a asp-controller="Investigation" asp-action="Index" class="red-button">Back to Investigations</a>
            <input type="submit" class="red-button" value="Submit Investigation" />

        </div>
    </form>


