
@{
    ViewData["Title"] = "Edit";
}

@model mvc.ViewModels.EditInvestigation


<h1>Investigation</h1>
<form asp-action="Create" method="post" role="form" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="DateOfAction" class="col-md-2">Date of Action</label>
        <div class="col-md-5">
            <input asp-for="DateOfAction" class="form-control" />
            <span asp-validation-for="DateOfAction" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="InvestigatorEmail" class="col-md-3">Investigator's Email</label>
        <div class="col-md-5">
            <input asp-for="InvestigatorEmail" class="form-control" />
            <span asp-validation-for="InvestigatorEmail" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="InvestigatorPhone" class="col-md-3">Investigator's Phone Number</label>
        <div class="col-md-5">
            <input asp-for="InvestigatorPhone" class="form-control" />
            <span asp-validation-for="InvestigatorPhone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="InvDescription" class="col-md-3">Investigaton Description</label>
        <div class="col-md-5">
            <textarea asp-for="InvDescription" class="form-control"></textarea>
            <span asp-validation-for="InvDescription" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-5">
            <input type="submit" class="btn btn-primary" value="Submit Investigation" />
            <a asp-controller="Report" asp-action="Index" class="btn btn-outline-secondary">Back to Reports</a>
        </div>
    </div>
</form>


