@model mvc.ViewModels.EditInvestigationViewModel



    <form asp-action="Edit" method="post" role="form" enctype="multipart/form-data" class="light-form-lg">
        <h2>Edit Investigation</h2><hr /><br />
        <div class="form-group">
            <label asp-for="DateOfAction">Date of Action</label>
            <input asp-for="DateOfAction" class="form-control" />
            <span asp-validation-for="DateOfAction" class="text-danger"></span>

        </div>
       

            <div class="form-group">
                <label asp-for="ReportStatus">Status of Report</label>
                <select class="form-control" id="ReportStatus" asp-for="ReportStatus">
                    <option value="No Action Required">No Action Required</option>
                    <option value="Closed">Closed</option>
                    <option value="In Investigation">In Investigation</option>
                </select>
                <span asp-validation-for="ReportStatus" class="text-danger"></span>
            </div>
            
           
        <div class="form-group">
            <label asp-for="InvDescription">Investigaton Description</label>
            <textarea asp-for="InvDescription" class="form-control"></textarea>
            <span asp-validation-for="InvDescription" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label asp-for="InvDescription">Investigator</label>
            
            
            <select class="form-control" id="selectInvestigator" value="" asp-for="SelectedInvestigator" asp-items="@(new SelectList(Model.Investigators,"Id","UserName"))"></select>
        </div>

        <div class="form-group text-center">
            <a asp-controller="Investigation" asp-action="Index" class="btn btn-light btn-sm">Back to Investigations</a>
            <input type="submit" class="red-button" value="Save changes" />

        </div>
    </form>


