@model mvc.ViewModels.NewInvestigationViewModel

    <div class="light-form-lg">
        <h1>No investigations found for this report.</h1><hr /><br />
        <button asp-controller="Investigation" asp-action="Create" asp-route-id="@Model.ReportId" class="red-button">Create Investigation for Report</button>
    </div>
        

