@model LoginViewModel
    <div class="light-form">

        <h2 class="text-center">Login to your account</h2><hr /><br />
        <form asp-action="Login" asp-controller="Account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                
            </div><br />
            <div class="form-group text-center">

                <input type="submit" class="red-button" value="Log in" /><br />
                <small>Don't have an account? <a asp-action="Register" asp-controller="Account">Register.</a></small>
            </div>
            
        </form>
    </div>