@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <section class="h-container">
            
              
                <div>
                    <h1 class="display-4">NEMESYS</h1>
                    <p>The Near Miss Exposure and Reporting System.</p>
                    <form asp-controller="Report" asp-action="Create" method="get">
                        <button class="red-button">Create Report</button>
                    </form>
                    
                </div>

        </section>

        <section>
            <hr>
            <p class="grad-text">A platform whereby YOU report whatever issue you may identify, so WE can step in and solve it for the benefit of the student body!</p>
  
        </section>

    </div>
