@model EditReport

<div class="focused">

    <form asp-action="Edit" method="post" role="form" enctype="multipart/form-data">

        <div asp-validation-summary="All" class="text-danger"></div>

        <input asp-for="ImageUrl" type="hidden" class="form-control" />

        <h1>Edit Report</h1><hr>
        <div class="form-group">
            <label asp-for="HazardLocation">Location of Hazard</label>

            <input asp-for="HazardLocation" class="form-control" />
            <span asp-validation-for="HazardLocation" class="text-danger"></span>
        </div>

        <div class="form-group">

            <div id="map"></div>
            <input asp-for="LatitudeMarker" class="form-control" type="hidden" id="latitude">
            <input asp-for="LongitudeMarker" class="form-control" type="hidden" id="longitude">
            <script>editMap()</script>
            <span asp-validation-for="LatitudeMarker" class="text-danger"></span>
        </div>  

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="HazardDate">Date Hazard Was Spotted</label>

                    <input asp-for="HazardDate" class="form-control" />
                    <span asp-validation-for="HazardDate" class="text-danger"></span>

                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="HazardType">Type of Hazard</label>

                    <div class="form-group">
                        <select class="form-control" id="HazardType" asp-for="HazardType">
                            <option value="Unsafe Act">Unsafe Act</option>
                            <option value="Unfit Condition">Unfit Condition</option>
                            <option value="Equipment Issue">Equipment Issue</option>
                            <option value="Structural Concern">Structural Concern</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="HazardDescription">Description</label>

            <textarea asp-for="HazardDescription" class="form-control"></textarea>
            <span asp-validation-for="HazardDescription" class="text-danger"></span>

        </div>

        <div class="form-group">
            <img src="@Model.ImageUrl" />
        </div>

        
        <div class="form-group">
            <label asp-for="Image"></label>
            <input type="file" asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <div class="button-row">
            <a asp-controller="Report" asp-action="Index" class="red-button">Back to Reports</a>
            <input type="submit" class="red-button" value="Save Changes" />
        </div>
    </form>

</div>
